{{!< layouts/dashboard}} <main class="flex flex-col p-6 bg-gray-100 min-h-screen mb-0 bg-gray-700">
  <header class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-white  ">Budgets</h1>
    <button id="back-to-budgets"
      class="bg-blue-500 text-white inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2">
      Back
    </button>
  </header>

  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mb-8">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
      <div class=" bg-gray-900 rounded-lg border bg-card text-card-foreground shadow-sm ">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 data-id="{{budgetData.id}}"
            class="budget-name text-white text-2xl font-semibold leading-none tracking-tight text-center transition ease-in-out">
            {{budgetData.name}}</h3>
          <p class="text-sm text-white text-muted-foreground text-center">Allocated: ${{budgetData.amount}}</p>
        </div>
        <div class="flex justify-center mt-4 gap-2">
        </div>
      </div>
    </div>
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
      <div class=" bg-gray-900 rounded-lg border bg-card text-card-foreground shadow-sm ">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3
            class="budget-name text-white text-2xl font-semibold leading-none tracking-tight text-center transition ease-in-out">
            Remaining</h3>
          <p class="text-sm text-white text-muted-foreground text-center">$<span id="dollarAmountRemaining"></span></p>
        </div>
        <div class="flex justify-center mt-4 gap-2">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="border rounded-lg w-vw">
      <div class="relative w-full overflow-auto">
        <div class="relative w-full overflow-auto">
          <table class="text-white w-full caption-bottom text-sm">
            <thead class="[&amp;_tr]:border-b">
              <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <th
                  class="w-max-fit h-12 pr-2 text-left align-middle font-medium text-muted-foreground">
                  Is Expense
                </th>
                <th
                  class="w-fit h-12 pr-2 text-left align-middle font-medium text-muted-foreground">
                  Transaction Amount
                </th>
                <th
                  class="w-fit h-12 pr-2 text-left align-middle font-medium text-muted-foreground">
                  Create Date
                </th>
              </tr>
            </thead>
            <tbody class="text-white [&amp;_tr:last-child]:border-0">
              {{#each transactionsData}}
              <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                <td class="p-2 align-middle font-medium">{{is_expense}}</td>
                {{#if is_expense}}
                <td data-expense="{{transaction_amount}}"
                  class="transaction-expense text-red-500 p-2 align-middle">-
                  ${{transaction_amount}}
                </td>
                {{else}}
                <td data-income="{{transaction_amount}}"
                  class="text-white transaction-income p-2 align-middle">${{transaction_amount}}
                </td>
                {{/if}}
                <td data-timestamp="{{createdAt}}" class="created-at p-2 align-middle"></td>
                <td class="p-2 align-middle">
                  <div class="flex flex-col gap-2 justify-end">
                    <button
                      class="text-white inline-flex bg-blue-500 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                      Edit
                    </button>
                    <button
                      class="text-white inline-flex bg-gray-900 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
  </main>
  <script src="/js/budgets/budget-id.js"></script>