{{!< layouts/dashboard}} 
  <main class="flex flex-col p-6 bg-gray-100 min-h-screen mb-0 bg-gray-700">
  <header class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-white  ">Transactions</h1>
    <button
      class="add-transaction bg-blue-500 text-white inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2">
      Add Transaction
    </button>
  </header>

  {{#unless Transactions.length}}
    <section class="">
      <div class="" >
        <div class="">
          <h3 class="">No Transactions</h3>
          <p class="">You have not created any Transactions yet.</p>
        </div>
       
      </div>
    </section>
  {{else}}
    <div>
      <div class="">
        <div class="">
          <table class="">
            <thead class="data-table-header">
              <tr class="data-titles">
                <th class="date">Date</th>
                <th class="budgetType">Budget Type</th>
                <th class="amount">Amount</th>
                <th class="expense">Expense?</th>
                <th class="delete">Delete?</th>
              </tr>
            </thead>
            <tbody class="data-table-body">
              {{#each Transactions}}
                <tr class="data-row">
                  <td class="date">{{date}}</td>
                  <td class="budget-type">{{budgetType}}</td>
                  <td class="transaction-amount">{{transactionAmount}}</td>
                  <td class="is-expense">{{isExpense}}</td>
                  <td class="delete"><button class="delete-btn"></button>Delete</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/unless}}
  <script src="/js/Transactions/transactions.js"></script>
</main>
